<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <div id="index-header">
        <header id="header-section">
            <div class="container">
                <div class="nav-header">
                    <a href="#" class="js-nav-toggle nav-toggle"><i></i></a>
                    <h1 id="header-logo"><a href="http://www.wiblog.cn"></a>
                    </h1>
                    <nav id="header-menu-wrap">
                        <ul class="sf-menu"
                            style="touch-action: pan-y;">
                            <li><a href="/" aria-current="page">主页</a></li>
                            <li><a href="http://www.wiblog.cn/category/tech">技术类</a></li>
                            <li><a href="http://www.wiblog.cn/category/life">生活</a></li>
                            <li><a href="http://www.wiblog.cn/category/non-category">不分类</a></li>
                            <li><a href="http://www.wiblog.cn/category/about">关于</a></li>
                            <li><a href="http://www.wiblog.cn/links">友情链接</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <div class="header-background"></div>
</div>
</html>