<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wiblog.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.wiblog.model.Article">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="author" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="article_summary" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="tags" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="article_categories" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="article_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="likes" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="hits" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="comments_counts" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <resultMap id="Part_Article_Map" type="java.util.HashMap">
        <id column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="author" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="title" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="article_summary" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="tags" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="article_categories" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="url" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="article_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="likes" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="hits" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="comments_counts" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, author, title,content,article_summary, tags, article_categories, url, article_url, likes,
    hits, comments_counts, create_time, update_time
  </sql>
    
    <insert id="insert" parameterType="com.wiblog.model.Article">
    insert into article ( author,
      title,content,article_summary, tags, article_categories,
      url, article_url, likes,
      hits, comments_counts, create_time,
      update_time
      )
    values (#{author,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{articleSummary,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, #{articleCategories,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR}, #{articleUrl,jdbcType=VARCHAR}, #{likes,jdbcType=INTEGER},
      #{hits,jdbcType=INTEGER}, #{commentsCounts,jdbcType=INTEGER}, now(),now()
      )
  </insert>

    <update id="updateByArticleIdSelective" parameterType="com.wiblog.model.Article">
        update article
        <set>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="article_categories != null">
                article_categories = #{articleCategories,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="articleUrl != null">
                article_url = #{articleUrl,jdbcType=VARCHAR},
            </if>
            <if test="likes != null">
                likes = #{likes,jdbcType=INTEGER},
            </if>
            <if test="hits != null">
                hits = #{hits,jdbcType=INTEGER},
            </if>
            <if test="commentsCounts != null">
                comments_counts = #{commentsCounts,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="articleSummary != null">
                article_summary = #{articleSummary,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{articleId,jdbcType=INTEGER}
    </update>

    <select id="selectAllArticle" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article
        ORDER BY create_time desc
    </select>
</mapper>