<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<body>
    <!--footer-->
    <footer th:fragment="copyright">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 footer-list text-center">
                    <p class="footer-icons">
                        <a target="_blank" rel="nofollow" href="https://github.com/weimin96"><i
                                class="fa fa-github"></i>
                        </a>
                    </p>
                    <p>Copyright 2019 <a href="http://www.wiblog.cn">Wiblog | Areo的个人网站</a>. All Rights
                        Reserved.
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>