.card{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 24px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
/*文章标题*/
.title{
    margin: 0 0 15px;
    color: #333;
    font-size: 33px;
    font-weight: 500;
    word-break: break-word;
}

/*文章信息*/
.article-data{
    font-size: 14px;
    color: #777;
}

.article-data i{
    margin-right: 10px;
}

/*标签*/
.tags{
    color: #368bd6;
    font-size: 17px;
}

.tags .tag-text{
    margin-right: 10px;
    margin-left: 5px;
    color: #777;
}

/*评论*/
.comment-title{
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #f0f0f0;
    border-left: 3px solid #00a1d6;
    margin-bottom: 20px;
    padding-left: 10px;
}

.comment-title-count{
    font-size: 14px;
}

.pull-right a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    display: inline-block;
}

.comment-title .active{
    color: #2f2f2f;
}

.comment-avatar img{
    width: 40px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
}

.no-comments{
    text-align: center;
    margin: 50px;

}

.comment-item-body{
    margin-bottom: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
    margin-left: 50px;
}

.item-nickname{
    font-size: 14px;
    font-weight: 500;
}

.item-nickname a{
    color: inherit;
}

.item-state{
    margin-top: 2px;
    font-size: 12px;
    color: #969696;
}

.item-content{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.item-btn-group{
    margin-top: 12px;
}

.item-btn-group button{
    margin-right: 10px;
}

/*评论框*/
.reply-body{
    position: relative;
    margin-right: 80px;
}

.reply-body textarea{
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f4f5f7;
    border: 1px solid #e5e9ef;
    overflow: auto;
    border-radius: 4px;
    color: #555;
    width: 100%!important;
    height: 65px;
    transition: 0s;
    padding: 5px 10px;
    line-height: normal;
    outline: none;
    resize: none;
}

.reply-textarea:hover textarea{
    background-color: #fff;
    border-color: #00a1d6;
}

.article-comment .comment-submit{
    width: 70px;
    height: 64px;
    position: absolute;
    right: -80px;
    top: 0;
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    vertical-align: top;
    cursor: pointer;
    border: 1px solid;
    transition: .1s;
    user-select: none;
    outline: none;
}
/*请先登录后发表评论*/
.no-reply-msg{
    display: none;
}
.no-login .no-reply-msg{
    display: block;
    position: absolute;
    z-index: 102;
    width: 100%;
    top: 0;
    line-height: 64px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    color: #777;
    background-color: #e5e9ef;
    overflow: hidden;
    border: 1px solid #e5e9ef;
}

.no-login .btn-login{
    padding: 4px 9px;
    margin: 0 3px;
    color: #fff;
    border-radius: 4px;
}

.no-login .no-reply-msg a{
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.no-login .no-reply-msg a :hover{
    color: #fff;
    background: #337ab7;
}

.no-login .comment-submit{
    cursor: default;
    background-color: #e5e9ef;
    border-color: #e5e9ef!important;
    color: #b8c0cc!important;
}

.comment-emoji{
    width: 66px;
    height: 24px;
    color: #99a2aa;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    line-height: 23px;
    margin-top: 3px;
    cursor: pointer;
}

.no-login .comment-emoji{
    background-color: #e5e9ef;
}

.comment-emoji span{
    padding-left: 2px;
}

