.user-header{
    width: 100%;
    background: #333;
    padding: 30px 0;
    color: #fff;
    height: 155px;
}

/*头像*/
.user-header .user-pic{
    float: left;
    margin-right: 20px;
}

.user-header .user-info{
    float: right;
    width: 95%;
}

.user-header .user-data{
    float: left;
    margin-top: 20px;
}

/*用户名*/
.user-header .name{
    font-size: 27px;
    font-weight: 600;
}

.user-header .information{
    display: inline;
}

.user-header .information span{
    padding-right: 10px;
}

/*更多信息*/
.user-header .more-info{
    display: inline;
    border-left: 2px solid rgba(255,255,255,.4);
    padding-left: 16px;
    color: rgba(255,255,255,.6);
    font-size: 12px;
}

.user-header .more-info a{
    color: rgba(255,255,255,.6);
    padding-left: 5px;
    cursor: pointer;
}

/*统计*/
.user-header .user-statistic{
    float: right;
    width: 40%;
    margin-top: 20px;
}

.user-header .user-statistic .item{
    float: left;
    margin-right: 30px;
    text-align: center;
}

.user-statistic .item span{
    font-weight: 700;
    font-size: 24px;
}

.user-statistic .item div{
    font-size: 14px;
}

.user-statistic .user-setting{
    border: 1px solid #c0c4cc;
    padding: 5px 20px;
    border-radius: 22px;
    margin: 12px;
}

.user-statistic .user-setting a{
    color: #FFF;
    cursor: pointer;
}

/*内容*/
.user-content{
    width: 95%;
    height: 500px;
    padding: 0 15px;
}


/*评论*/
.order{
    width: 100%;
    display: inline-block;
}

.order a{
    color:#969696;
    font-size: 12px;
    font-weight: 400;
    margin: 0 5px;
    cursor: default;
}

.order .active{
    color:#2f2f2f;
}
.comment-card{
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    margin-bottom: 5px;
}



.comment-card .comment-top{
    display: inline-block;
    width: 100%;
    color: #333;
}

.comment-card .comment-top-left{
    float: left;
    font-weight: 600;
}

.comment-card .comment-top-left span:first-child{

}

.comment-card .comment-top-left span:last-child{
    margin-left: 5px;
}

.comment-card .comment-top-right{
     float: right;
     color: #909399;
 }

.comment-card .comment-content{
    color: #333;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    cursor: default;
}

.comment-card .comment-content:hover{
    color: #409eff;
}

.comment-card .comment-parent{
    background: #eee;
    padding: 5px;
    margin: 5px 0;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: default;
}

.comment-card .comment-parent:hover{
    color: #409eff;
}
