<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <link href="/admin/css/article.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="manage-title">
        <h2>文章管理</h2>
    </div>
    <div class="manage-main">
        <div style="margin-top: 15px;">
            <el-input placeholder="搜索标题..."  class="input-with-select">
                <el-button slot="append" icon="el-icon-search"></el-button>
            </el-input>
        </div>
        <el-button type="primary" icon="el-icon-edit">发布文章</el-button>

        <table id="tableData" class="table table-hover"></table>

    </div>
</div>

</div>
<div th:replace="admin/common/foot :: adminfoot"></div>
<script src="/admin/js/article.js"></script>
</body>
</html>