<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
<head th:replace="admin/common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <!--    <link rel="stylesheet" th:href="@{../lib/bootstrap-markdown.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{../lib/webuploader/webuploader.css}">-->
<!--    <link rel="stylesheet" th:href="@{../lib/webuploader/webuploader-demo.css}">-->
    <link rel="stylesheet" th:href="@{../lib/mavonEditor-2.5.4/css/index.css}">
    <link rel="stylesheet" href="/admin/css/article-edit.css">
</head>

<body>
<div id="app">
    <div class="manage-title">
        <h2>文章管理</h2>
    </div>
    <div class="manage-main">
<!--                <template>-->
<!--                    <el-select v-model="article.articleCategories" placeholder="文章分类">-->
<!--                        <el-option v-for="item in categoryList" :key="item.categoryName" :label="item.categoryName" :value="item.categoryName"></el-option>-->
<!--                    </el-select>-->
<!--                </template>-->

        <el-row>
            <el-col :span="24" style="background: #fff;border-radius: 10px;">
                <label>
                    <input class="title-input" v-model="article.title" placeholder="请在此输入标题..."/>
                </label>
                <mavon-editor v-model="article.content" :toolbars="toolbars"></mavon-editor>



                <!--                <template v-if="isChangeTag">-->
                <!--                    <input class="form-control" style="width: 95%" v-model="article.tags" name="tag"-->
                <!--                           type="text" placeholder="文章标签" autocomplete="off"/>-->
                <!--                    <span class="input-group-btn">-->
                <!--                                    <button class="btn btn-default" type="button"-->
                <!--                                            @click="submitTag">完成</button>-->
                <!--                                </span>-->
                <!--                </template>-->
                <!--                <template v-else>-->
                <!--                            <span class="label label-info" style="display: inline-block;"-->
                <!--                                  v-for="item in tagList">{{item}}</span>-->
                <!--                    <a @click="changeTag" style="padding-top: 3px;">添加标签</a>-->
                <!--                </template>-->



            </el-col>


        </el-row>

        <div class="group-btn">
            <el-button type="success" round @click="drawer = true">配置信息</el-button>
            <el-button type="primary" round @click="pushArticle">发表文章</el-button>
        </div>
    </div>

    <el-drawer title="文章信息" :visible.sync="drawer" :direction="direction">
        <span>我来啦!</span>
    </el-drawer>

</div>

<!-- 全局js -->
<div th:replace="admin/common/foot :: adminfoot"></div>
<script type="text/javascript" src="../lib/mavonEditor-2.5.4/mavon-editor.js"></script>
<script src="/admin/js/articleEdit.js"></script>
</body>
</html>