<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="admin/common/head :: head(~{::title},~{},~{})">

    <title> - 主页</title>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>状态</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div>
                        <p><b>剩余内存: </b><span id="freeMemory"></span><b> GB</b></p>
                        <p><b>全部内存: </b><span id="totalMemory"></span><b> GB</b></p>
                    </div>
                    <div class="flot-chart">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="flot-chart-content" style="height: 200px" id="flot-pie-chart"></div>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <div class="flot-chart-content" style="height: 200px" id="flot-pie-chart-cpu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="admin/common/foot :: adminfoot"></div>
    <script src="https://cdn.bootcss.com/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.bootcss.com/flot/0.8.3/jquery.flot.pie.min.js"></script>
    <script src="/admin/js/home.js"></script>
</body>

</html>
