<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml">
<head th:replace="admin/common/head :: head(~{::title},~{::link},~{})">

    <title> - 主页</title>
    <link rel="stylesheet" th:href="@{../lib/bootstrap-markdown.min.css}"/>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">

    </div>

    <div th:replace="admin/common/foot :: adminfoot"></div>

</body>

</html>
