body,h2{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
}

html,body,.manage-main,#app,.el-row{
    /*height: 100%;*/
}
.manage-title{
    color: #000;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: #fff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0;
    height: auto;
    line-height: inherit;
    min-height: inherit;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.manage-title h2{
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
}

.manage-main{
    padding: 0 20px 20px;
    background-color: #f2f2f2;
    margin-top: 15px;
}

.el-checkbox{
    display: block;
}