<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <link rel="stylesheet" th:href="@{css/loginAndRegister.css}">

</head>
<body>
<div class="bg-img">
</div>
<div th:include="common/header :: header"></div>
<div id="app" class="container" >
    <br>
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>wiblog</h3>
                    <p>登录账号，收藏更多有趣的文章</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-user-circle fa-spin"></i>

                </div>
                <div class="hasAccount">
                    <a href="/register">没有账号？注册</a>
                </div>
            </div>
            <div class="form-bottom">
                <form name="form" class="login-form" action="" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="account">用户名</label>
                        <input type="text" v-model.trim="account" placeholder="用户名|手机号|邮箱" class="form-control" id="account" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">密码</label>
                        <input type="password" v-model.trim="password" name="password" placeholder="密码" class="form-control" id="password" autocomplete="off">
                        <div class="error-msg">{{msgError}}</div>
                    </div>
                    <a class="btn" v-on:click="login">登录</a>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 social-login">
            <div class="h-content">
                <p class="h-title">其他方式登录</p>
            </div>

            <div class="login-else">
                <i class="fa fa-github"></i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weixin"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>
<footer th:include="common/footer :: copyright"></footer>



</body>
<div th:replace="common/foot :: foot"></div>
<script th:src="@{js/login.js}"></script>
</html>