<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: head(~{::title},~{::link},~{})">
    <title>wiblog - Areo的个人网站</title>
    <link rel="stylesheet" th:href="@{css/loginAndRegister.css}">

</head>
<body>
<div class="bg-img">
</div>
<div th:include="common/header :: header"></div>
<div id="app" class="container" >
    <br>
    <div class="row">

        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>wiblog</h3>
                    <p>注册账号，收藏更多有趣的文章</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-user-circle fa-spin"></i>
                </div>
                <div class="hasAccount">
                    <a href="/login">已有账号？登录</a>
                </div>
            </div>
            <div class="form-bottom">
                <form name="form" class="register-form" action="" novalidate>
                    <div class="form-group">
                        <label class="sr-only" for="username">用户名</label><strong><i>*</i></strong>
                        <input type="text" v-model.trim="username" @blur="checkName()" name="username" placeholder="用户名" class="form-control" id="username" autocomplete="off">
                        <template v-if="nameTag === '1'">
                            <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                        </template>
                        <template v-else-if="nameTag === '2'">
                            <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                        </template>
                        <div class="error-msg">{{msgName}}</div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="phone">手机号</label><strong><i style="opacity: 0">*</i></strong>
                        <input type="text" v-model.trim="phone" @blur="checkPhone()" name="phone" placeholder="手机号" class="form-control" id="phone" autocomplete="off">
                        <template v-if="phoneTag === '1'">
                            <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                        </template>
                        <template v-else-if="phoneTag === '2'">
                            <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                        </template>
                        <div class="error-msg">{{msgPhone}}</div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="email">邮箱</label><strong><i style="opacity: 0">*</i></strong>
                        <input type="email" v-model.trim="email" @blur="checkEmail()" name="email" placeholder="邮箱" class="form-control" id="email" autocomplete="off" required>
                        <template v-if="emailTag === '1'">
                            <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                        </template>
                        <template v-else-if="emailTag === '2'">
                            <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                        </template>
                        <div class="error-msg">{{msgEmail}}</div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">密码</label><strong><i>*</i></strong>
                        <input type="password" v-model.trim="password" @blur="checkPassword()" name="password" placeholder="密码" class="form-control" id="password" autocomplete="off">
                        <template v-if="passwordTag === '1'">
                            <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                        </template>
                        <template v-else-if="passwordTag === '2'">
                            <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                        </template>
                        <div class="error-msg">{{msgPassword}}</div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="confirm-password">确认密码</label><strong><i>*</i></strong>
                        <input type="password" v-model.trim="confirmPassword" @blur="checkConfirmPassword()" name="confirm-password" placeholder="确认密码" class="form-control" id="confirm-password" autocomplete="off">
                        <template v-if="confirmPasswordTag === '1'">
                            <i class="fa fa-check-circle green pdr" aria-hidden="true"></i>
                        </template>
                        <template v-else-if="confirmPasswordTag === '2'">
                            <i class="fa fa-exclamation-circle red pdr" aria-hidden="true"></i>
                        </template>
                        <div class="error-msg">{{msgConfirmPassword}}</div>
                    </div>
                    <a class="btn" v-on:click="register">注册</a>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 social-login">
            <div class="h-content">
                <p class="h-title">其他方式登录</p>
            </div>

            <div class="login-else">
                <i class="fa fa-github"></i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weixin"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>
<footer th:include="common/footer :: copyright"></footer>



</body>
<div th:replace="common/foot :: foot"></div>
<script th:src="@{js/register.js}"></script>
</html>