<!DOCTYPE html>
<html lang="en">
<head>
    <title>语音测试</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
        * {
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
    </style>
</head>
<body>
<div>
    <button class="talk" id="talk_btn">按下开始录音</button><br>
    <div class="talk" id="talk_text">识别结果：</div><br>
    <div class="talk" id="talk_text1">阿里识别结果：</div>
</div>
<script src="../lib/jquery-3.4.0.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>


<script type="text/javascript">
    var vConsole = new VConsole();
    console.log(location.href.split('#')[0]);
    $.get("/weixin/sign",{url: location.href.split('#')[0]},function(res){
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: res.appId, // 必填，公众号的唯一标识
            timestamp: res.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.nonceStr, // 必填，生成签名的随机串
            signature: res.signature,// 必填，签名，见附录1
            jsApiList: ["startRecord","stopRecord","translateVoice","uploadVoice"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
    });

    var START,END;
    var voice = {};
    wx.ready(function(){

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
    });

    wx.error(function(res){

        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

    });


    //按下开始录音
    $('#talk_btn').on('touchstart', function(event){
        event.preventDefault();
        START = new Date().getTime();

        recordTimer = setTimeout(function(){
            wx.startRecord({
                success: function(){
                    console.log('录音');
                    localStorage.rainAllowRecord = 'true';
                },
                cancel: function () {
                    console.log('用户拒绝授权录音');
                }
            });
        },300);
    });

    //松手结束录音
    $('#talk_btn').on('touchend', function(event){
        event.preventDefault();
        END = new Date().getTime();

        if((END - START) < 300){
            END = 0;
            START = 0;
            //小于300ms，不录音
            clearTimeout(recordTimer);
        }else{
            wx.stopRecord({
                success: function (res) {
                    console.log("结束录音");
                    voice.localId = res.localId;
                    //translate(voice.localId);
                    uploadVoice();
                },
                fail: function (res) {
                    console.log(JSON.stringify(res));
                }
            });
        }
    });

    //上传录音
    function uploadVoice(){
        //调用微信的上传录音接口把本地录音先上传到微信的服务器
        //不过，微信只保留3天，而我们需要长期保存，我们需要把资源从微信服务器下载到自己的服务器
        wx.uploadVoice({
            localId: voice.localId, // 需要上传的音频的本地ID，由stopRecord接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                console.log(JSON.stringify(res));
                //把录音在微信服务器上的id（res.serverId）发送到自己的服务器供下载。
                $.ajax({
                    url: '/recognize',
                    type: 'get',
                    data: {
                        localId:voice.localId
                    },
                    dataType: "json",
                    success: function (data) {
                        console.log(JSON.stringify(data));
                        $("#talk_text1").html("阿里识别结果："+data.msg);
                    },
                    error: function (xhr, errorType, error) {
                        console.log(error);
                    }
                });
            }
        });
    }

    function translate(localId){
        console.log("==="+localId);
        // 获取识别内容
        wx.translateVoice({
            localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                console.log(res.translateResult); // 语音识别的结果
                $("#talk_text").html("识别结果："+res.translateResult);
            }
        });
    }


</script>

</body>
</html>