<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wiblog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wiblog.entity.Article">
            <id column="id" property="id"/>
            <result column="author" property="author"/>
            <result column="title" property="title"/>
            <result column="content" property="content"/>
            <result column="tags" property="tags"/>
            <result column="article_categories" property="articleCategories"/>
            <result column="url" property="url"/>
            <result column="article_url" property="articleUrl"/>
            <result column="article_summary" property="articleSummary"/>
            <result column="likes" property="likes"/>
            <result column="hits" property="hits"/>
            <result column="comments_counts" property="commentsCounts"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
id, author, title, content, tags, article_categories, url, article_url, article_summary, likes, hits, comments_counts, create_time, update_time
    </sql>

    <update id="updateCommentCount">
        update article set comments_counts = comments_counts+1 where id = #{articleId}
    </update>

    <select id="selectAllArticle" resultType="map">
        select title as value from article
    </select>
</mapper>